@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");
@import "tailwindcss";

@theme {
  --font-sans: "Pretendard Variable", Pretendard, system-ui, sans-serif;

  --color-bg-base: #111727;
  --color-card: #1a2138;
  --color-title: #f5d9d5;
  --color-btn-disabled: #a8a8a8;
  --color-btn-active: #de8c98;
  --color-btn-pressed: #a16b73;
  --color-field: #fbfbfb;
  --color-field-dark: #1e2235;
  --color-muted: #787f9a;
  --color-back-bg: #222639;
  --color-back-icon: #b8bdd6;

  --color-scenario-normal: #de8c98;
  --color-scenario-early: #8aaff7;
  --color-scenario-lump: #fdd58c;
  --color-scenario-split: #8ad5b6;
}

/* 홈 배너 그라데이션 1층 */
@utility banner-layer-1 {
  background-image: linear-gradient(
    to bottom right,
    #263253 5%,
    #304061 24%,
    #6f5b75 66%,
    #de8c98 100%
  );
}

/* 홈 배너 그라데이션 2층 */
@utility banner-layer-2 {
  background-image: linear-gradient(to bottom, #9f747a 0%, #111727 100%);
}
