@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");
@import "tailwindcss";

@theme {
  --font-sans: "Pretendard Variable", Pretendard, system-ui, sans-serif;

  --color-bg-base: #111727;
  --color-title: #f5d9d5;
  --color-btn-disabled: #a8a8a8;
  --color-btn-active: #de8c98;
  --color-btn-pressed: #a16b73;
  --color-field: #fbfbfb;
}
